body, html {
    height: 100%;
    margin: 0;
    font-family: 'cursive';
    height: 100vh;
    width: 100vw;
    background-image: url(../assets/img.png);
    background-repeat: no-repeat;
    background-position: 10% 0;
    background-size: cover;
    
  }

  .container-fluid {
    height:100vh;
    width: 100vw;
  }

  .bg-image {
    background: linear-gradient(
        rgba(220, 0, 140, 0.5),
        rgba(76, 0, 130, 0.5)
      ),
      url('assets/img1.png');
    background-size: cover;
    background-position: center;
    border-radius: 0 0.5rem 0.5rem 0;
  }

  .form-container {
    background-color: #00000070;
    /* padding: 3rem; */
    height: 100vh;
    border-radius: 0.5rem 0 0 0.5rem;
    overflow:scroll;

  }
  .form-container::-webkit-scrollbar{
    display: none;
  }

  .btn-gradient {
    background: linear-gradient(135deg, #ff6ec4, #7873f5);
    color: #fff;
    border: none;
  }


  .btn-gradient:hover {
    opacity: 0.9;
  }

  .form-check-label a {
    text-decoration: underline;
  }

  @media (max-width: 768px) {
    .bg-image {
      display: none;
    }

    .form-container {
      border-radius: 0.5rem;
    }
    
  }
  .form-field{
        color: pink;
        box-shadow: 2px 0px 5px  pink;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* height: 100vh; */
  }
